@CHARSET "UTF-8";


body{
/* 	background:#babdb6; */
background-image: url(../images/image.jpeg);
background-repeat:no-repeat;
border-size: cover;
background-size: 100%;
}

#nameid{
	color:#75507b;
	font-family:arial;
	font-weight: bold;
}

#p{
	color:#888a85;
}








